<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>
        URL Shortner
    </h1>
    <form action="/api/url/shorten" method="post">
        <label for="longUrl">Long url</label>
        <input type="url" name="longUrl" id="longUrl">
        <input type="submit" name="submit">
    </form>

    <div class="output">
        <% if(urls.length > 0){ %>
            <% urls.forEach((url_object) => { %>
                <p>Long URL: <%= url_object.longUrl %></p>
                <p>Short URL: <%= url_object.shortUrl %></p>
            <% }) %>
        <% } else { %>
            <p>No urls found</p>
        <% } %> 
    </div>
</body>
</html>