<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>
        <a href="/">URL Shortener</a>
    </h1>
    <form action="/api/url/shorten" method="post">
        <label for="longUrl">What's the long url?</label>
        <input type="url" name="longUrl" id="longUrl">
        <label for="urlSlug" class="urlSlug">URL Slug</label>
        <div>linkmin.herokuapp.com/<input type="text" id="urlSlug" name="urlSlug"></div>
        <input type="submit" name="submit">
    </form>

    <div class="output">
        <% if(urls.length > 0){ %>
            <% urls.forEach((url_object) => { %>
                <div class="url-combination">
                    <div class="long url">
                        <span>Long URL</span>
                        <span><a href="<%= url_object.longUrl %>"><%= url_object.longUrl %></a></span>
                    </div>
                    <div class="short url">
                        <span>Short URL</span>
                        <span><a href="<%= url_object.shortUrl %>"><%= url_object.shortUrl %></a></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No urls found</p>
        <% } %> 
    </div>
</body>
</html>